@model IEnumerable<TimeSheet.Web.Models.TaskModel>

@{
    ViewBag.Title = "Index";
}

<h2>My Time log: @ViewBag.TaskDate</h2>

<hr />


<form action="/TimeSheet/Search" method="post">
    <div class="form-group">

        <div class="col-md-10">
            <b>Search previous days:</b> 
            <input id="search" name="search" type="text" class="form-control" data-provide="datepicker" />
            <input type="submit" value="Search" class="btn btn-default" />
        </div><br />
    </div>
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursSpent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursSpent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<p>
    <b>@ViewBag.TotalHoursSpent</b>
</p>

